# To override the default settings for adbox copy this file to settings.yml and make your changes.
# settings.yml is ignored by git so these overrides are developer specific and never shared.

#src_folder: '../../src/nanigans'
#hostname: 'adbox.nanigans.com'